body {
  background-color: #333333;
}

.title {
  color: #00ffb3;
  margin-top: 100px;
  margin-bottom: 20px;
}

.instr {
  color: #F0EDEE;
}
.angle {
  color: aqua;
  font-size: large;
  padding-top: 100px;
  text-align: center;
}

.stick {
  padding-left: 15%;
  padding-top: 100px;
}

.back {
  background-color: #F0EDEE !important;
}

.front {
  background-color: #171d2a !important;
}